# Data Science Tools and Ecosystem

## Author 
Nicolas Bachiloglu

Data Science tools will be listed in this notebook.

**Objectives:**
- List popular programming languages for data science
- List commonly used libraries used in data science
- List open-source development environments
- Markdown formatting in a Jupyter notebook
- Code comments and operations

Some of the most popular languages used in data science are:
1. Python
2. R
3. SQL
4. Scala
5. VBA

Some examples of libraries used in data science are:
1. Pandas
2. Seaborn
3. Numpy
4. scikit-learn

|Data Science Tools|
|---|
|RStudio|
|Jupyter Notebook|
|Visual Studio Code|

### Evaluating arithmetical expressions using Python:

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335